* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  position: relative;
  scroll-behavior: smooth;
}

header {
  background-color: limegreen;
  font-size: 1.3rem;
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 200;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

/* ================   NAV + HAMBURGER  ================*/

.hamburger {
  width: 32px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 3px 25px 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: absolute;
  left: 20px;
}

.hamburger-line {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 100vmax;
  transition: transform 0.3s ease;
  
}

#line-1 {
  transform-origin: 0% 50%;
}
#line-2 {
  transform-origin: 50% 50%;
}
#line-3 {
  transform-origin: 100% 50%;
}


#navBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  background-color: limegreen;
  height: 100vh;
  width: 180px;
  position: fixed;
  top: 0;
  left: -180px;
  z-index: 100;
  padding: 100px 40px;
  transition: left 0.3s ease;
}

#navBar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  transition: transform 0.1s ease;
}

#navBar a:active {
  transform: scale(1.2);
}

button {
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  color: white;
  font-family: inherit;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: limegreen;
  font-size: 1rem;
}

.app {
  max-width: 1224px;
  width: 92%;
  margin: 90px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding-bottom: 10px;
}

.header h2 {
  min-width: fit-content;
  font-size: 1.8rem;
}

.header h3 {
  min-width: fit-content;
  font-size: 1.6rem;
  padding-right: 10px;
  padding: 5px 10px 5px 0;
  border-right: 2px solid black;
}
.saved-header {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  
  button {
    width: 100px;
    
  }
}
.server-message {
  width: 100%;
  max-width: 500px;
  padding: 16px;
  border-radius: 5px;
}

.upload-images-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.input-div {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  color: limegreen;
  transition: background-color 0.1s ease;
}

.input-div .browse {
  font-weight: bold;
  font-size: 1.4rem;
}
.upload-symbol {
  font-family: 'Material Symbols Outlined';
  display: inline-block;
  font-size: 3.5rem;
  -webkit-font-smoothing: antialiased;
}



.file {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#queued-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.line-break {
  display: block;
  height: 3px;
  width: 100%;
  background-color: limegreen;
  border-radius: 100vmax;
}


#saved-form {
  width: clamp(280px, 50vw, 500px)
}


/* .saved-div, */
.queued-div {
  min-height: 200px;
  width: clamp(200px, 50vw, 500px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  border-radius: 5px;
  background-color: white;
  border: 1px dotted black;
}

.queued-div {
  border: 2px dashed limegreen;
}

.saved-div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.saved-div .image,
.queued-div .image {
  width: 150px;
  height: auto;
  border-radius: 5px;
  position: relative;
  z-index: 10;
}

.saved-div .image {
  width: 30%;
}

.saved-div .image img,
.queued-div .image img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.saved-div .image span,
.queued-div .image span {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.452);
  border-radius: 5px;
  line-height: 0.7;
}

.saved-div .image span:hover,
.queued-div .image span:hover {
  opacity: 0.8;
}

.saved-div .span--hidden,
.queued-div .span--hidden {
  visibility: hidden;
}





/* ================   GALLERY  PAGE   ================*/

.gallery {
  margin-top: 80px;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 10px;
}
.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: none;
  border-radius: 10px;
  scroll-snap-align: start;
}